@charset "utf-8";
/* -----------------------------------------------------------------------
reset
------------------------------------------------------------------------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-weight:normal;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
	display:block;
}

nav ul,
li {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* -----------------------------------------------------------------------
ress +
------------------------------------------------------------------------- */
audio:not([controls]) {
  display: none;
  height: 0;
}
hr { overflow: visible;}
[hidden],template {display: none;}
abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {outline-width: 0;}
 
code,kbd,pre,samp {font-family: monospace, monospace;}
b,strong {  font-weight: bolder;}
 
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
} 
sub {bottom: -0.25em;} 
sup { top: -0.5em;}

input {border-radius: 0;}
[type="number"] { width: auto;}
[type="search"] {-webkit-appearance: textfield;}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

textarea {
  overflow: auto;
  resize: vertical;
}
 
button,input,optgroup,select,textarea {font: inherit;}
optgroup {font-weight: bold;}
button {overflow: visible;}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0;
} 
/*focus style */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText;
}
 
button,
html [type="button"],
[type="reset"],
[type="submit"] {-webkit-appearance: button;}

button,
select {text-transform: none;}

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
	appearance: none;
}
select::-ms-expand {display: none;}
select::-ms-value {color: currentColor;}
 
legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
} 
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
img {border-style: none;}
progress {vertical-align: baseline;}
svg:not(:root) {overflow: hidden;}

audio,
canvas,
progress,
video {display: inline-block;}

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important;
  }
}
[aria-busy="true"] {cursor: progress;}
[aria-controls] {cursor: pointer;}
[aria-disabled] {cursor: default;}

::-moz-selection {
  background-color: #333;
  color: #fff;
  text-shadow: none;
}
::selection {
  background-color: #333;
  color: #fff;
  text-shadow: none;
}
/* -----------------------------------------------------------------------
clearfix
------------------------------------------------------------------------- */
.clearfix:after,
header:after,
#ftrInfo:after,
#contents:after{
  content: ".";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix,
header,
#ftrInfo,
#contents{
  min-height: 1px;
}

* html .clearfix
* html header,
* html #ftrInfo,
* html #contents{
  height: 1px;
  /*\*//*/
  height: auto;
  overflow: hidden;
  /**/
}

.cf:before,.cf:after {content:"";display:table;}
.cf:after {clear:both;}
.cf {*zoom:1;}

.clear{clear:both; margin:0 !important; padding:0 !important; height:0 !important; line-height:0 !important;}
.clrOv{overflow:hidden;}

/* -----------------------------------------------------------------------
common parts
------------------------------------------------------------------------- */
html {
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
}
.iphone body,
.ipad body,
.ipod body{
	cursor:pointer;
}
*:focus {
	outline: none;
}

input[type="button"],input[type="submit"] {
    -webkit-appearance: none;
  }

*{	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
::before,
::after {
  box-sizing: inherit;  
  text-decoration: inherit;
  vertical-align: inherit;
}

a:hover img.imgov{     
	filter: alpha(opacity=70);
    -moz-opacity:0.7;
    opacity:0.7;
}

img{ max-width:100%; height:auto;}
img { -ms-interpolation-mode: bicubic; }

#wrapper{position:relative;}
/*--float--*/
.flL{float:left;}
.flR{float:right;}

/*--textalign--*/
.txtL{text-align:left !important;}
.txtC{text-align:center !important;}
.txtR{text-align:right !important;}

/*--------------------------------------------------------------------
   margin/ padding
---------------------------------------------------------------------*/

.mb0{margin-bottom:0 !important;}
.mb05{margin-bottom:5px !important;}
.mb10{margin-bottom:10px !important;}
.mb15{margin-bottom:15px !important;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:20px !important;}
.mb30{margin-bottom:30px !important;}
.mb40{margin-bottom:40px !important;}
.mb60{margin-bottom:30px !important;}

.pb0{padding-bottom:0px !important;}
.pb05{padding-bottom:5px !important;}
.pb10{padding-bottom:10px !important;}
.pb15{padding-bottom:15px !important;}
.pb20{padding-bottom:20px !important;}
.pb25{padding-bottom:25px !important;}
.pb30{padding-bottom:30px !important;}
.pb35{padding-bottom:35px !important;}
.pb40{padding-bottom:40px !important;}
.pb45{padding-bottom:45px !important;}
.pb50{padding-bottom:50px !important;}