
@charset "utf-8";
/*-----------------------------------------------------
common
--------------------------------------------------------*/
	.forTB,
	.forSP{display:none;}
	.forPC{display:inherit;}

.ie8 body{
    min-width:960px;
    max-width:100%;
    overflow-x:hidden;
}


/*-----------------------------------------------------
pc
--------------------------------------------------------*/
